.search-section {
    background-color: $color-layout-light;
    padding: $space-xl 0;
}

.search {
    position: relative;
    width: 100%;
    margin: 40px 0;
}

.search input {
    width: 100%;
    padding: 16px 40px;
    font-size: $text-sm;
    border: 2px solid $color-primary;
    border-radius: 8px;
    outline: none;
}
.search input:focus {
    border-color: $color-accent;
}

.search-icon {
        position: absolute;
        top: 50%;
        left: 16px;
        transform: translateY(-50%);
        font-size: 15px;
}


.shop-layout {
    display: flex;
    gap: $space-lg;
    margin-top: $space-lg;
}

.categories {
    width: 250px;
    position: sticky;
    top: 180px;
    align-self: flex-start;

    h3 {
        font-size: $text-xl;
        color: $color-accent;
    }

    ul {
        list-style: none;
        margin-top: $space-lg;
        font-size: $text-base;
        line-height: $line-height-base;
    }

    li {
        border-bottom: 1px solid rgb(214, 210, 210);
        padding: 10px 0;
    }

    a {
        text-decoration: none;
        color: black;
    }
}
.categories li:last-child {
    border-bottom: none;
}

.products {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: $space-lg;
    margin-left: $space-xxl;

    img {
        width: 100%;
        height: auto;
        border-radius: 8px;
    }

    h4 {
        margin-top: $space-xs;
        font-size: $text-sm;
    }

    p {
        margin-top: $space-xs;
        font-size: $text-base;
        color: $color-accent;
    }
}

// Paginacja
.pagination {
    grid-column: 1 / -1; 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.pagination button {
    padding: 10px 20px;
    margin: 20px 10px;
    border: none;
    background: $color-accent;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

#page-info {
    display: flex;
    gap: 8px;
}

#page-info button {
    padding: 6px 10px;
    border: none;
    background: rgb(214, 210, 210);
    cursor: pointer;
    border-radius: 6px;
}

#page-info button.active {
    background: $color-accent;
    color: white;
}

.categories ul li a.active {
    font-weight: bold;
    color: $color-accent;
}


// Produkty
body.product-page {
    padding-top: 140px;
}    

.product-details {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.info {
    flex: 1;
    background-color: $color-layout-light;
    padding: $space-lg;
    border: 1px solid rgb(226, 225, 225);
    h1 {
        font-size: $text-xl;
        margin-bottom: $space-sm;
        color: $color-accent;
    }
    p {
        margin-top: $space-base;
        font-size: $text-base;
        line-height: $line-height-base;
    }
}


.product-image img {
    max-width: 100%;
    height: auto;
    max-height: 500px;
}

.product-image {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-price {
    margin-top: $space-base;
    font-size: $text-base;
    color: $color-accent;
    font-weight: bold;
}
.buy-btn {
    position: relative;
    z-index: 1;
    display: inline-block;       
    padding: $space-sm $space-base;     
    background-color: $color-accent;
    color: $color-primary;                
    font-size: $text-base;
    font-weight: bold;
    text-decoration: none;       
    border-radius: 6px;
    border: none;
    margin-top: 30px;          
    cursor: pointer;
    transition: all 0.3s ease; 

    &:hover {
        background-color: rgb(252, 80, 0);  
        transform: translateY(-2px);       
    }
}



.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.35s ease;
    background: #fafafa;
}

.accordion-content-inner {
    padding: 15px;
    li {
        margin-top: $space-base;
        font-size: $text-sm;
        line-height: $line-height-base;
    }
}

.accordion-btn {
    width: 100%;
    padding: 15px;
    background: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    text-align: left;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &::after {
        content: "▼";
        transition: transform 0.3s ease;
    }

    &.active::after {
        transform: rotate(180deg);
    }
}

.product-accordion {
    margin-top: 6px;
}


.cart-modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.6);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.cart-box {
    background: #fff;
    padding: 25px;
    border-radius: 10px;
    width: 320px;
    text-align: center;
    p {
        margin-top: 10px;
    }
}

.cart-title {
    margin-top: 10px;
    color: $color-accent;
    font-size: $text-base;
    font-weight: bold;
}

.qty-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 15px 0;
}

.qty-controls button {
    width: 35px;
    height: 35px;
    font-size: 20px;
    cursor: pointer;
}

.confirm-btn {
    margin-top: 15px;
    width: 100%;
    padding: 10px;
    background: $color-accent;
    color: white;
    border: none;
    cursor: pointer;
}

.close-btn {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    background: $color-layout-light;
    border: none;
    cursor: pointer;
}