.search-section {
    background-color: $color-layout-light;
    padding: $space-xl 0;
}

.search {
    position: relative;
    width: 100%;
    margin: 40px 0;
}

.search input {
    width: 100%;
    padding: 16px 40px;
    font-size: $text-sm;
    border: 2px solid $color-primary;
    border-radius: 8px;
    outline: none;
}
.search input:focus {
    border-color: $color-accent;
}

.search-icon {
        position: absolute;
        top: 50%;
        left: 16px;
        transform: translateY(-50%);
        font-size: 15px;
}


.shop-layout {
    display: flex;
    gap: $space-lg;
    margin-top: $space-lg;
}

.categories {
    width: 250px;
    position: sticky;
    top: 180px;
    align-self: flex-start;

    h3 {
        font-size: $text-xl;
        color: $color-accent;
    }

    ul {
        list-style: none;
        margin-top: $space-lg;
        font-size: $text-base;
        line-height: $line-height-base;
    }

    li {
        border-bottom: 1px solid rgb(214, 210, 210);
        padding: 10px 0;
    }

    a {
        text-decoration: none;
        color: black;
    }
}
.categories li:last-child {
    border-bottom: none;
}

.products {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: $space-lg;
    margin-left: $space-xxl;

    img {
        width: 100%;
        height: auto;
        border-radius: 8px;
    }

    h4 {
        margin-top: $space-xs;
        font-size: $text-sm;
    }

    p {
        margin-top: $space-xs;
        font-size: $text-base;
        color: $color-accent;
    }
}

// Paginacja
.pagination {
    grid-column: 1 / -1; 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.pagination button {
    padding: 10px 20px;
    margin: 20px 10px;
    border: none;
    background: $color-accent;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

#page-info {
    display: flex;
    gap: 8px;
}

#page-info button {
    padding: 6px 10px;
    border: none;
    background: rgb(214, 210, 210);
    cursor: pointer;
    border-radius: 6px;
}

#page-info button.active {
    background: $color-accent;
    color: white;
}

.categories ul li a.active {
    font-weight: bold;
    color: $color-accent;
}
