$color-layout-dark: rgb(31, 40, 54);
$color-layout-light: rgb(252, 248, 248);
$color-primary: white;
$color-accent: rgb(252, 102, 2);

$text-xs: 0.75rem;
$text-sm: 0.875rem;
$text-base: 1rem;
$text-lg: 1.25rem;
$text-xl: 1.75rem;

// scale padding and margin
$space-xxs: 0.25rem;
$space-xs: 0.5rem;
$space-sm: 0.75rem;
$space-base: 1rem;
$space-lg: 1.5rem;
$space-xl: 2rem;
$space-xxl: 3rem;

$container-max-width: 1200px;

$line-height-base: 1.6;


// Responsywność
$breakpoint-xs: 480px;
$breakpoint-sm: 730px;
$breakpoint-xl: 1300px;
